name: Checks

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read
  packages: write

jobs:
  checks:
    runs-on: ubuntu-24.04
    env:
      IMAGE: ghcr.io/chrisgavin/ipman
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Build
        run: docker build --target=build .
      - name: Test
        run: docker build --target=test .
      - name: Build Docker Image
        run: docker build --tag "ipman" .
      - name: Registry Login
        if: ${{ github.event_name == 'push' }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: github-actions
          password: ${{ github.token }}
      - name: Push Docker Image
        if: ${{ github.event_name == 'push' }}
        run: |
          docker tag "ipman" "$IMAGE:$GITHUB_SHA"
          docker push "$IMAGE:$GITHUB_SHA"
      - name: Push Latest Docker Image
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        run: |
          docker tag "ipman" "$IMAGE:latest"
          docker push "$IMAGE:latest"
