name: Checks

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read
  packages: write

jobs:
  checks:
    runs-on: ubuntu-24.04
    env:
      IMAGE: ghcr.io/chrisgavin/ipman
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Build
        run: docker build --target=build .
      - name: Test
        run: docker build --target=test .
      - name: Build Docker Image
        run: docker build --tag "ipman" .
      - name: Registry Login
        if: ${{ github.event_name == 'push' }}
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: github-actions
          password: ${{ github.token }}
      - name: Push Docker Image
        if: ${{ github.event_name == 'push' }}
        run: |
          docker tag "ipman" "$IMAGE:$GITHUB_SHA"
          docker push "$IMAGE:$GITHUB_SHA"
      - name: Push Latest Docker Image
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        run: |
          docker tag "ipman" "$IMAGE:latest"
          docker push "$IMAGE:latest"
